.weather {
  text-align: right;
}

.temperature {
  font-size: 28px;
  font-weight: var(--fw-semibold);
  color: var(--text-primary);
}

.stats {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, max-content);
  grid-column: span 2;
  font-size: 14px;
  gap: 40px;
}
