@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&family=Roboto+Slab:wght@600&display=swap');

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

$color-primary: hsl(273, 84%, 64%);
$color-white: hsl(0, 0%, 100%);
$color-10: hsl(233, 31%, 95%);
$color-20: hsl(233, 31%, 80%);
$color-30: hsl(233, 26%, 72%);
$color-40: hsl(238 15% 62%);
$color-80: hsl(238 24% 20%);

$font-normal: 400;
$font-bold: 600;

$border-radius: 12px;
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  color: $color-80;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Lexend', sans-serif;
  font-weight: $font-normal;
  font-size: 100%;
  background-color: $color-10;
  position: relative;
  overflow: hidden;

  @include center;
}

h2 {
  font-size: 1.3em;
  font-weight: $font-bold;
  font-family: 'Roboto Slab', serif;
}

p {
  margin: 0;
}

b,
strong {
  font-weight: $font-bold;
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  gap: 8px;
  justify-items: center;
  min-width: 480px;
}

.datetime {
  .time {
    font-size: 2em;
  }
}

.d-grid {
  display: grid;
  align-items: center;
}

.center {
  text-align: center;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#widget {
  background: $color-white;
  padding: 32px;
  margin: 24px;
  border-radius: $border-radius;

  display: grid;
  row-gap: 24px;
  column-gap: 40px;
  grid-template-columns: 1fr auto;

  .current {
    color: $color-primary;
    font-size: 2em;
    font-weight: $font-bold;
  }

  .weather {
    display: flex;
    grid-column: span 2;
    column-gap: 40px;
  }
}

.label {
  font-size: 12px;
  letter-spacing: 1px;
  color: $color-30;
}

#focus {
  display: grid;
  justify-items: center;

  .user-input {
    font-size: 1em;
    color: $color-primary;
  }
}

.helper {
  position: absolute;
  opacity: 0;
}

#bookmarks {
  display: grid;
  gap: 16px;
  width: 100%;

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, 120px);
    grid-template-rows: repeat(auto-fill, 120px);
    justify-content: center;

    li {
      display: inline-block;
      position: relative;

      .bookmark-item {
        display: grid;
        grid-template-columns: 88px;
        justify-content: center;
        gap: 8px;
        color: $color-40;
        text-decoration: none;
        text-align: center;
        font-size: 1em;

        .bookmark-icon {
          background-color: $color-white;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 32px;
          border-radius: 14px;
          width: 64px;
          height: 64px;
          margin: auto;
          transition: border .5ms;

          &.target {
            border: 2px solid $color-20;
          }
        }
      }

      .bookmark-delete {
        position: absolute;
        top: -10px;
        left: 10px;
        opacity: 0;
        cursor: pointer;
      }

      &:hover>.bookmark-item+.bookmark-delete {
        opacity: 1;
      }
    }
  }

  .mouse-hover {
    opacity: 0;
  }

  &:hover>.mouse-hover {
    opacity: 1;
  }

}

.modal-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.5);
  z-index: 9999;
  display: grid;
  place-content: center;
  justify-items: flex-end;
  grid-template-columns: max-content min-content;
  gap: 8px;

  .modal-container {
    background-color: $color-white;
    border-radius: $border-radius;
    padding: 32px;
    position: relative;

    form {
      display: grid;
      gap: 16px;
    }
  }

  .modal-close {
    position: absolute;
    top: 6px;
    right: 10px;
    line-height: 1;
    font-size: 24px;
    padding: 4px;
    cursor: pointer;
    color: $color-40;

    &:hover {
      color: $color-80;
    }
  }
}

.btn {
  font: inherit;
  background: none;
  border: 0;
  padding: 6px;
  cursor: pointer;
  @include center;

  &.icon {
    color: $color-40;

    &:hover {
      color: $color-80;
    }
  }

  &[type=submit] {
    background-color: $color-primary;
    color: $color-white;
    border-radius: calc($border-radius / 2);
  }
}

.user-input {
  position: relative;

  input {
    font: inherit;
    color: inherit;
    width: 100%;
    padding: 3px 0;
    border: 0;
    border-bottom: 1px solid $color-40;
    background: transparent;

    &::placeholder {
      color: $color-40;
    }

    &:focus {
      border-bottom: 1px solid $color-primary;
      outline: 0;
    }
  }

  button {
    font-size: 20px;
    position: absolute;
    right: -16px;
    bottom: 0;
    border: 0;
    padding: 2px;
    background-color: transparent;
    color: $color-40;
    display: none;
    cursor: pointer;

    &:hover {
      color: $color-80;
    }
  }

  &:hover>input:not(:placeholder-shown)+button {
    display: block;
  }
}

input[name="username"] {
  width: auto;
  padding: 0;

  &:not(:placeholder-shown) {
    border: 0;
    font-weight: inherit;
    padding: 0;
  }
}