@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Roboto+Slab:wght@400;700&display=swap');

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

html {
  color: var(--color-dark);

  --color-light: hsl(233, 31%, 95%);
  --color-dark: hsl(238 24% 23%);
  --color-medium: hsl(238 15% 62%);
  --color-primary: hsl(232deg 89% 60%);
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 100%;
  background-color: var(--color-light);
  position: relative;
  overflow: hidden;

  @include center;
}

p {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

.container {
  gap: 32px;
  justify-items: center;
}

.datetime {
  text-align: center;

  .date {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    text-transform: lowercase;
    font-weight: 400;
  }

  .time {
    font-size: 32px;
    font-weight: 600;
  }
}

.d-grid {
  display: grid;
  align-items: center;
}

.serif {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  text-align: center;
}

.weather {
  background: #fff;
  padding: 32px;
  border-radius: 12px;

  row-gap: 24px;
  column-gap: 48px;
  grid-template-columns: repeat(3, 1fr);

  .main {
    grid-column: span 3;
    grid-template-columns: auto 1fr;
    gap: 8px;
    line-height: 1;

    .icon {
      width: 64px;
      color: var(--color-primary)
    }

    .temperature {
      color: var(--color-primary);
      font-size: 1.5em;
      font-weight: 700;
    }
  }

}

.label {
  font-family: 'Roboto Slab', serif;
  font-size: 0.875em;
  font-weight: 400;
  color: var(--color-medium);
}

.focus {
  display: grid;
  gap: 16px;
}

.helper {
  position: absolute;
  opacity: 0;
}

.user-input {
  position: relative;
  overflow: hidden;

  input {
    font: inherit;
    font-weight: 400;
    color: inherit;
    width: 100%;
    padding: 4px 0;
    border: 0;
    border-bottom: 1px solid var(--color-medium);
    background: transparent;

    &::placeholder {
      color: var(--color-medium);
    }

    &:focus {
      border-bottom: 1px solid var(--color-primary);
      outline: 0;
    }
  }

  button {
    font-size: 20px;
    position: absolute;
    right: -4px;
    bottom: 0;
    border: 0;
    padding: 2px;
    background-color: transparent;
    color: var(--color-medium);
    display: none;
    cursor: pointer;

    &:hover {
      color: var(--color-dark);
    }
  }

  &:hover>input:not(:placeholder-shown)+button {
    display: block;
  }
}

input[name="username"] {
  width: auto;
  padding: 0;

  &:not(:placeholder-shown) {
    border: 0;
    font-weight: inherit;
    padding: 0;
  }
}